<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Solicitud Pendiente</title>
  </head>
  <body>
    SOLICITUD PENDIENTE <br>
    <a href="/">Ir a inicio</a>
  </body>
</html>
