<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Guest Dashboard</title>
  </head>
  <body>
    Aqui tiene que ir un catalogo de restaurantes y de platos, solo se pueden ver.

    <h4>Restaurantes registrados: <%= @restaurantes.count %></h4>

    <ul>
      <% @restaurantes.each do |restaurante| %>
        <% if restaurante.estado == 0 %>
          <li> <a href=<%= "/dashboard/#{restaurante.id}" %>> <%= restaurante.nombre %> </a> </li>
        <% end %>
      <% end %>
    </ul>
    <a href="/">Ir a inicio</a>
  </body>
</html>
