<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Account Created</title>
  </head>
  <body>
    <h2>Account Created!</h2>
    <a href="/"> Back to Homepage </a>
  </body>
</html>
