<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Login</title>
  </head>
  <body>
    <h2>Welcome back!</h2>

    <h4> <%= @msg %></h4>
    <form action="/login" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <p>
        <label>Username:</label>
        <input type="text" name="datos[nombre]">
      </p>
      <p>
        <label>Password</label>
        <input type="password" name="datos[password]">
      </p>
      <p>
        <label>User type:</label><br>
        <input type="radio" name="tipo" value=0> Regular user<br>
        <input type="radio" name="tipo" value=1> Restaurant<br>
      </p>
      <input type="submit" value="Login">
    </form>
    <a href="/">Back to homepage</a>
  </body>
</html>
