<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: SignUp</title>
  </head>
  <body>

    <h2>Create a New Account</h2>
    <form action="/signup" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <p>
        <label>Type:</label><br>
        <input type="radio" name="tipo" value=0> Regular user<br>
        <input type="radio" name="tipo" value=1> Restaurant<br>
      </p>
      <p>
        <label>Username:</label>
        <input type="text" name="datos[nombre]">
      </p>
      <p>
        <label>Email:</label>
        <input type="text" name="datos[correo]">
      </p>
      <p>
        <label>Address:</label>
        <input type="text" name="datos[direccion]">
      </p>
      <p>
        <label>Telephone:</label>
        <input type="text" name="datos[telefono]">
      </p>
      <p>
        <label>Password:</label>
        <input type="password" name="datos[password]">
      </p>
      <input type='submit' value="Create User">
    </form>
    <a href="/">Back to homepage</a>
    <a href="/login">Login</a>
  </body>
</html>
