
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Estadisticas</title>
  </head>
  <body>
    <h3>Estadisticas de Restaurantes</h3>

    <ul>
      <p>Cantidad de restaurantes aprobados: <%=@count_rest%></p>
    </ul>
  </body>
</html>
